<tr>
  <td><%= address.id %></td>
  <td><%= address.name %></td>
  <td><%= address.latitude %></td>
  <td><%= address.longitude %></td>
  <td><%= address.user_name %></td>
  <td>
    <span><%= link_to t('admin.address.edit'), edit_admin_address_path(address),
                              class: "btn btn-success glyphicon glyphicon-edit" %></span>
    <span><%= link_to t('admin.address.delete'), admin_address_path(address),
                                data: { confirm: t('admin.address.confirm_delete') },
                                method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
  </td>
</tr>
