<%= provide :title, t('admin.address.edit_address') %>
<%= provide :button, t('admin.address.edit_address') %>
<%= provide :url, admin_address_path(@address)%>

<div class="custom-form">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= t('admin.address.edit_address') %></h1>
    <%= render "form" %>
  </div>
</div>
<%= link_to t('back'), admin_addresses_path, class:'btn btn-secondary glyphicon glyphicon-arrow-left' %>
