<%= provide :title, "New Address"%>
<%= provide :button, "Create Address"%>
<%= provide :url, admin_addresses_path(@address)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Create new address" %></h1>
    <%= render "form" %>
  </div>
</div>
