<tr>
  <td><%= voucher.id %></td>
  <td><%= link_to voucher.code, "#" %></td>
  <td><%= number_to_currency_vnd voucher.discount %></td>
  <td><%= voucher.expiry_date %></td>
  <td><%= voucher.orders.size %></td>
  <td><%= voucher.update_status_voucher %></td>
  <td>
    <span><%= link_to t(".delete"), partners_voucher_path(voucher), method: :delete, class: "btn btn-danger" %></span>
    <span><%= link_to t(".edit"), edit_partners_voucher_path(voucher) , class: "btn btn-success" %></span>
  </td>
</tr>
