<tr class="text-center">
  <td><%= voucher.id %></td>
  <td><%= link_to voucher.code, "#" %></td>
  <td><%= number_to_currency_vnd voucher.discount %></td>
  <td><%= voucher.expiry_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
  <td><%= voucher.usage_limit %></td>
  <td><%= voucher.orders.size %></td>
  <td><%= voucher.status %></td>

  <td >
    <%= link_to "", partners_voucher_status_path(voucher.id, status: :void), method: :patch, remote: true, class:"play active" if voucher.effective? %>
    <%= link_to "", partners_voucher_status_path(voucher.id, status: :effective), method: :patch, remote: true, class:"play" if voucher.void? && (Time.zone.now < voucher.expiry_date) %>
    <%= link_to "", partners_voucher_status_path(voucher.id, status: :void), method: :patch, remote: true, class:"" if (voucher.void? && (Time.zone.now >= voucher.expiry_date) ) %>
  </td>

  <td>
    <div class="action-btn">
      <span><%= link_to "", edit_partners_voucher_path(voucher) ,
      class: "btn btn-success glyphicon glyphicon-edit" %></span>
      <span><%= link_to "", partners_voucher_path(voucher),
                                      data: { confirm: t('admin.control.confirm_delete')},
                                      method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
    </div>
  </td>
</tr>
