<div class="p-4">
  <h1><%= "Management Vouchers" %></h1>
  <h3><%= "Total" %>: <%= @vouchers.total_count %></h3>
  <%= search_form_for @search, url: partners_vouchers_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit 'Search', class: "btn btn-outline-info" %>
  <% end %>
  <%= link_to "New", new_partners_voucher_path , class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= "No" %></th>
        <th><%= sort_link(@search, :code,"Code of voucher") %></th>
        <th><%= sort_link(@search, :discount,"Discount") %></th>
        <th><%= "Expiry date" %></th>
        <th><%= sort_link(@search, :usage_limit, "Usage limit") %></th>
        <th><%= sort_link(@search, :number_of_uses, "Number of uses") %></th>
        <th><%= sort_link(@search, :status,"Status") %></th>

        <th><%= "Control" %></th>
      </tr>
    </thead>
    <tbody id="vouchers">
      <%= render @vouchers %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @vouchers, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
