<% provide(:title, t('admin.voucher.title')) %>
<div class="p-4">
  <h1><%= t('admin.voucher.voucher_management') %></h1>
  <h3><%= t('admin.voucher.total_of_vouchers') %>: <%= @vouchers.total_count %></h3>
  <%= search_form_for @search, url: partners_vouchers_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.voucher.search'), class: "btn btn-outline-info" %>
  <% end %>
  <div class="btn-custom">
    <%= link_to t('admin.voucher.new_voucher'), new_partners_voucher_path , class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to t('admin.partner.export'), export_partners_vouchers_path(format: :xls), class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track-tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= t('admin.voucher.infor.id') %></th>
        <th><%= sort_link(@search, :code, t('admin.voucher.infor.code')) %></th>
        <th><%= sort_link(@search, :discount, t('admin.voucher.infor.discount')) %></th>
        <th><%= t('admin.voucher.infor.expiry_date') %></th>
        <th><%= sort_link(@search, :usage_limit, t('admin.voucher.infor.usage_limit')) %></th>
        <th><%= sort_link(@search, :number_of_uses, t('partner.voucher.number_use_voucher')) %></th>
        <th><%= sort_link(@search, :status, t('admin.voucher.infor.status')) %></th>
        <th><%= t('partner.voucher.ena_disable') %></th>

        <th><%= t('admin.voucher.infor.control') %></th>
      </tr>
    </thead>
    <tbody id="vouchers">
      <%= render @vouchers %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @vouchers, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
