<%= form_for @partner, url: yield(:url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: t('admin.partner.name'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, placeholder: t('admin.partner.email'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :address, placeholder: t('admin.partner.address'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :phone_number, placeholder: t('admin.partner.phone_number'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, placeholder: t('admin.partner.password'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, placeholder: t('admin.partner.password_confirmation'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('admin.partner.time_open') %>
    <%= f.time_field :time_open, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('admin.partner.time_close') %>
    <%= f.time_field :time_close, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('admin.partner.city_name') %>
    <%= f.collection_select(:city_id, @cities, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label t('admin.partner.type_name') %>
    <%= f.collection_select(:type_id, @types, :id, :name) %>
  </div>
  <div class="form-group">
    <%= image_tag @partner.image.url , class: "img-product" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit yield(:button), class: "btn btn-info form-control" %>
  </div>
<% end %>
