<tr class="text-center">
  <td><%= partner.id %></td>
  <td><%= image_tag partner.image.url.to_s, class: "img-product"%></td>
  <td><%= partner.name %></td>
  <td><%= partner.email %></td>
  <td><%= partner.address %></td>
  <td><%= partner.phone_number %></td>
  <td><%= partner.time_open.strftime('%H:%M') %></td>
  <td><%= partner.time_close.strftime('%H:%M') %></td>
  <td><%= partner.status %></td>
  <td><%= partner.latitude %></td>
  <td><%= partner.longitude %></td>
  <td>
    <% if partner.may_active? %>
      <%= link_to t('admin.partner.activate_partner'), admin_partner_status_path(id: partner.id, status: :active),
                                                       method: :patch,
                                                       remote: true,
                                                       class: "btn btn-primary glyphicon glyphicon-ok" %>
    <% elsif partner.may_lock? %>
      <%= link_to t('admin.partner.lock_partner'), admin_partner_status_path(id: partner.id, status: :lock),
                                                   method: :patch,
                                                   remote: true,
                                                   class: "btn btn-secondary glyphicon glyphicon-lock" %>
    <% elsif partner.may_unlock? %>
      <%= link_to t('admin.partner.unlock_partner'), admin_partner_status_path(id: partner.id, status: :unlock),
                                                     method: :patch,
                                                     remote: true,
                                                     class: "btn btn-primary glyphicon glyphicon-ok" %>
    <% end %>
    <hr>
    <% if partner.may_open? %>
      <%= link_to t('admin.partner.open_partner'), admin_partner_status_path(id: partner.id, status: :open),
                                                   method: :patch,
                                                   remote: true,
                                                   class: "btn btn-primary glyphicon glyphicon-eye-open" %>
    <% elsif partner.may_close? %>
      <%= link_to t('admin.partner.close_partner'), admin_partner_status_path(id: partner.id, status: :close),
                                                    method: :patch,
                                                    remote: true,
                                                    class: "btn btn-outline-secondary glyphicon glyphicon-eye-close" %>
    <% end %>
  </td>
  <td class="control-custom">
    <span><%= link_to "", edit_admin_partner_path(partner),
                              class: "btn btn-success glyphicon glyphicon-edit" %></span>
    <span><%= link_to "", admin_partner_path(partner),
                                data: { confirm: t('admin.control.confirm_delete') },
                                method: :delete,
                                class: "btn btn-danger glyphicon glyphicon-trash" %></span>
  </td>
</tr>
