<% provide(:title, t('admin.partner.title')) %>
<div class="p-4">
  <h1><%= t('admin.partner.partner_management') %></h1>
  <h3><%= t('admin.partner.total_of_partners') %>: <%= @partners.total_count %></h3>
  <br>
  <%= search_form_for @search, url: admin_partners_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.partner.search'), class: "btn btn-outline-info" %>
  <% end %>
  <br>
  <div class="btn-custom">
    <%= link_to t('admin.partner.new_partner'), new_admin_partner_path, class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to t('admin.partner.export'), export_admin_partners_path(format: :xls), class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track_tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, t('admin.partner.infor.id')) %></th>
        <th><%= t('admin.partner.infor.image') %></th>
        <th><%= sort_link(@search, :name, t('admin.partner.infor.name')) %></th>
        <th><%= sort_link(@search, :email, t('admin.partner.infor.email')) %></th>
        <th><%= t('admin.partner.infor.address') %></th>
        <th><%= t('admin.partner.infor.phone_number') %></th>
        <th><%= t('admin.partner.infor.time_open') %></th>
        <th><%= t('admin.partner.infor.time_close') %></th>
        <th><%= sort_link(@search, :status, t('admin.partner.infor.status')) %></th>
        <th><%= t('admin.partner.infor.latitude') %></th>
        <th><%= t('admin.partner.infor.longitude') %></th>
        <th><%= t('admin.partner.infor.status_management') %></th>
        <th><%= t('admin.partner.infor.control') %></th>
      </tr>
    </thead>
    <tbody id="partners">
      <%= render @partners %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @partners, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
