<p><%= t('mailer.forgot_password.hi') %> <%= @user.email %>!</p>

<p><%= t('mailer.forgot_password.content') %></p>
<h3><%= t('mailer.forgot_password.code') %><h2><%= @user.reset_password_token %></h2></h3>
