<% provide(:title, t('admin.order.title')) %>
<div class="p-4">
  <h1><%= t('admin.order.order_management') %></h1>
  <h3><%= t('admin.order.total_of_orders') %>: <%= @orders.total_count %></h3>
  <br>
  <%= search_form_for @search, url: partners_orders_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.order.search'), class: "btn btn-outline-info" %>
  <% end %>
  <br>

  <div class="btn-custom">
    <%= link_to t('admin.partner.export'), "export_admin_partners_path(format: :xls)", class: "btn btn-info btn-export" %>
  </div>

  <table class="table table-striped track_tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, t('admin.order.id')) %></th>
        <th><%= sort_link(@search, :name, t('admin.order.name')) %></th>
        <th><%= sort_link(@search, :phone_number, t('admin.order.phone_number')) %></th>
        <th><%= sort_link(@search, :address, t('admin.order.address')) %></th>
        <th><%= sort_link(@search, :delivery_time, t('admin.order.delivery_time')) %></th>
        <th><%= sort_link(@search, :subtotal, t('admin.order.subtotal')) %></th>
        <th><%= sort_link(@search, :discount, t('admin.order.discount')) %></th>
        <th><%= sort_link(@search, :shipping_fee, t('admin.order.shipping_fee')) %></th>
        <th><%= sort_link(@search, :total, 'Total') %></th>
        <th><%= sort_link(@search, :status, t('admin.order.status')) %></th>
        <th><%= sort_link(@search, :type_checkout, t('admin.order.type_checkout')) %></th>
        <th><%= sort_link(@search, :rate_status, 'Rate status') %></th>
        <th><%= sort_link(@search, :user_id, t('admin.order.user_name')) %></th>
        <th><%= sort_link(@search, :driver_id, t('admin.order.driver_name')) %></th>
        <th><%= t('admin.order.view_detail') %></th>
        <th><%= t('admin.order.status_management') %></th>
      </tr>
    </thead>
    <tbody id="orders">
      <%= render @orders %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @orders, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
