<% provide(:title, t('admin.type.title')) %>
<div class="p-4">
  <h1><%= t('admin.type.type_management') %></h1>
  <h3><%= t('admin.type.total_of_types') %>: <%= @types.total_count %></h3>
  <br>
  <%= search_form_for @search, url: admin_types_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.type.search'), class: "btn btn-outline-info" %>
  <% end %>
  <br>
  <div class="btn-custom">
    <%= link_to t('admin.type.new_type'), new_admin_type_path, class: "btn btn-info glyphicon glyphicon-plus" %>
    <%= link_to t('admin.type.export'), export_admin_types_path(format: :xls), class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track_tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, t('admin.type.infor.id')) %></th>
        <th><%= sort_link(@search, :name, t('admin.type.infor.name')) %></th>
        <th><%= t('admin.type.infor.control') %></th>
      </tr>
    </thead>
    <tbody id="types">
      <%= render @types %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @types, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
