<h1><%= t('mailer.kyc.hi') %><%= @object.name %>!</h1>

<h3 style="font-size: 25px"><%= t('mailer.kyc.notice') %></h3>

<p style="font-size: 20px"><b>1.</b><%= t('mailer.kyc.one') %></p>
<p style="font-size: 20px"><b>2.</b><%= t('mailer.kyc.two') %></p>
<p style="font-size: 20px"><b>3.</b><%= t('mailer.kyc.three') %></p>
<p style="font-size: 20px"><b>4.</b><%= t('mailer.kyc.four') %></p>

<h4 style="font-size: 20px"><%= t('mailer.confirm.thank_you')%></h4>
<h4 style="font-size: 20px"><%= t('mailer.confirm.team_qakha')%></h4>
