<%= form_for @product, url: yield(:url) do |f| %>
  <div class="form-group">
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= image_tag @product.image.url , class: "img-product" %>
  </div>
  <div class="form-group">
    <%= f.text_field :name, placeholder: t('admin.product.name'), class:
      "form-control" %>
  </div>

  <div class="form-group">
    <%= f.phone_field :price, placeholder: t('admin.product.price'), class:
      "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :description, placeholder: t('admin.product.description'), class: "form-control" %>
  </div>

  <div class="form-group">
    <% cate_array = Category.load_category_of_partner(current_partner).map { |cate| [cate.name, cate.id] } %>
    <%= f.select :category_id, cate_array %>
  </div>

  <div class="form-group">
    <%= f.submit yield(:button), class: "btn btn-info form-control" %>
  </div>
<% end %>
