<%= provide :title, "Update Product"%>
<%= provide :button, "Update"%>
<%= provide :url, partners_product_path(@product)%>
<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Update product" %></h1>
    <%= render "form" %>
  </div>
</div>
