<div class="p-4">
  <h1><%= "Management Product of food store" %></h1>
  <h3><%= "Total of product" %>: <%= @products.total_count %></h3>
  <%= search_form_for @search, url: partners_products_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit 'Search', class: "btn btn-outline-info" %>
  <% end %>
  <div class="btn-custom">
    <%= link_to "New", new_partners_product_path , class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to t('admin.partner.export'), "export_admin_partners_path(format: :xls)", class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track_tbl table-bordered">
    <thead>
      <tr class="text-center">
        <th><%= "Image" %></th>
        <th><%= sort_link(@search, :name,"Name of product") %></th>
        <th><%= sort_link(@search, :price, "Price") %></th>
        <th><%= sort_link(@search, :category_id, "Category name") %></th>
        <th><%= sort_link(@search, :quantity_sold,"Quantity sold") %></th>
        <th><%= sort_link(@search, :description, "Description") %></th>

        <th><%= "Out of stock" %></th>
        <th><%= "Control" %></th>
      </tr>
    </thead>
    <tbody id="product">
      <%= render @products %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @products, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
