<div class="p-4">
  <h1><%= "Management Categories" %></h1>
  <h3><%= "Total of categories" %>: <%= @categories.total_count %></h3>
  <%= search_form_for @search, url: partners_categories_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit 'Search', class: "btn btn-outline-info" %>
  <% end %>
  <br>

  <div class="btn-custom">
    <%= link_to "New", new_partners_category_path , class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to t('admin.partner.export'), "export_admin_partners_path(format: :xls)", class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track_tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, 'ID') %></th>
        <th><%= sort_link(@search, :name, "Name of categories") %></th>
        <th><%= sort_link(@search, :created_at, "Created at") %></th>
        <th><%= "Control" %></th>
      </tr>
    </thead>
    <tbody id="categories">
      <%= render @categories %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @categories, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
