<%= provide :title, "New Category"%>
<%= provide :button, "Create"%>
<%= provide :url, partners_categories_path(@category)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Create new category" %></h1>

    <%= render "form" %>
  </div>
</div>
