<%= provide :title, t('admin.category.create_category') %>
<%= provide :button, t('admin.category.create_category') %>
<%= provide :url, partners_categories_path(@category)%>

<div class="custom-form">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= t('admin.category.create_category') %></h1>

    <%= render "form" %>
  </div>
</div>
<%= link_to t('back'), partners_categories_path, class:'btn btn-secondary glyphicon glyphicon-arrow-left' %>
