<%= provide :title, "Edit City"%>
<%= provide :button, "Edit City"%>
<%= provide :url, admin_city_path(@city)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Edit city" %></h1>
    <%= render "form" %>
  </div>
</div>
