<%= provide :title, t('admin.city.edit_city') %>
<%= provide :button, t('admin.city.edit_city') %>
<%= provide :url, admin_city_path(@city)%>

<div class="custom-form">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= t('admin.city.edit_city') %></h1>
    <%= render "form" %>
  </div>
</div>
<%= link_to t('back'), admin_cities_path, class:'btn btn-secondary glyphicon glyphicon-arrow-left' %>
