<%= provide :title, t('admin.city.create_city')%>
<%= provide :button, t('admin.city.create_city')%>
<%= provide :url, admin_cities_path(@city)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t('admin.city.create_city') %></h1>
    <%= render "form" %>
  </div>
</div>
