<%= provide :title, t('admin.driver.edit_driver') %>
<%= provide :button, t('admin.driver.edit_driver') %>
<%= provide :url, admin_driver_path(@driver)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t('admin.driver.edit_driver') %></h1>
    <%= render "form_edit" %>
  </div>
</div>
