<% provide(:title, t('admin.driver.title')) %>
<div class="p-4">
  <h1><%= t('admin.driver.driver_management') %></h1>
  <h3><%= t('admin.driver.total_of_drivers') %>: <%= @drivers.total_count %></h3>
  <br>
  <%= search_form_for @search, url: admin_drivers_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.driver.search'), class: "btn btn-outline-info" %>
  <% end %>
  <br>
  <div class="btn-custom">
    <%= link_to t('admin.driver.new_driver'), new_admin_driver_path, class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to "Export excel", export_admin_drivers_path(format: :xls), class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track_tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, t('admin.driver.infor.id')) %></th>
        <th><%= t('admin.driver.infor.image') %></th>
        <th><%= sort_link(@search, :name, t('admin.driver.infor.name')) %></th>
        <th><%= sort_link(@search, :email, t('admin.driver.infor.email')) %></th>
        <th><%= t('admin.driver.infor.address') %></th>
        <th><%= t('admin.driver.infor.id_card') %></th>
        <th><%= t('admin.driver.infor.phone_number') %></th>
        <th><%= t('admin.driver.infor.license_plate') %></th>
        <th><%= sort_link(@search, :coins, t('admin.driver.infor.coins')) %></th>
        <th><%= sort_link(@search, :status, t('admin.driver.infor.status')) %></th>
        <th><%= t('admin.driver.infor.status_management') %></th>
        <th><%= t('admin.driver.infor.control') %></th>
      </tr>
    </thead>
    <tbody id="drivers">
      <%= render @drivers %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @drivers, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
