<tr>
  <td><%= category.id %></td>
  <td><%= category.name %></td>
  <td><%= category.partner_name %></td>
  <td>
    <span><%= link_to "Edit", edit_admin_category_path(category),
                              class: "btn btn-success glyphicon glyphicon-edit" %></span>
    <span><%= link_to "Delete", admin_category_path(category),
                                data: { confirm: 'Are you sure you want to delete?' },
                                method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
  </td>
</tr>
