<%= provide :title, t('admin.category.edit_category') %>
<%= provide :button, t('admin.category.edit_category') %>
<%= provide :url, admin_category_path(@category)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t('admin.category.edit_category') %></h1>
    <%= render "form" %>
  </div>
</div>
