<%= provide :title, "Edit Category"%>
<%= provide :button, "Edit Category"%>
<%= provide :url, admin_category_path(@category)%>

<div class="">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Edit Category" %></h1>
    <%= render "form" %>
  </div>
</div>
