<% provide(:title, t('admin.category.title')) %>
<div class="p-4">
  <h1><%= t('admin.category.category_management') %></h1>
  <h3><%= t('admin.category.total_of_categories') %>: <%= @categories.total_count %></h3>
  <br>
  <%= search_form_for @search, url: admin_categories_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.category.search'), class: "btn btn-outline-info" %>
  <% end %>
  <br>
  <div class="btn-custom">
    <%= link_to t('admin.category.new_category'), new_admin_category_path, class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to t('admin.category.export'), export_admin_categories_path(format: :xls), class: "btn btn-info btn-export" %>
  </div>

  <table class="table table-striped track_tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, t('admin.category.infor.id')) %></th>
        <th><%= sort_link(@search, :name, t('admin.category.infor.name_category')) %></th>
        <th><%= sort_link(@search, :partner_id, t('admin.category.infor.partner_name')) %></th>
        <th><%= t('admin.category.infor.control') %></th>
      </tr>
    </thead>
    <tbody id="categories">
      <%= render @categories %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @categories, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
