<% provide(:title, t('admin.product.title')) %>
<div class="p-4">
  <h1><%= t('admin.product.product_management') %></h1>
  <h3><%= t('admin.product.total_of_products') %>: <%= @products.total_count %></h3>
  <%= search_form_for @search, url: admin_products_path do |f|%>
    <%= f.condition_fields do |c| %>
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    <% end %>
    <%= f.submit t('admin.product.search'), class: "btn btn-outline-info" %>
  <% end %>
  <br/>
  <div class="btn-custom">
    <%= link_to t('admin.product.new_product'), new_admin_product_path , class: "btn btn-info glyphicon glyphicon-plus btn-new" %>
    <%= link_to t('admin.product.export'), export_admin_products_path(format: :xls), class: "btn btn-info btn-export" %>
  </div>
  <table class="table table-striped track-tbl table-bordered">
    <thead class="text-center">
      <tr>
        <th><%= sort_link(@search, :id, t('admin.product.infor.id')) %></th>
        <th><%= t('admin.product.infor.image') %></th>
        <th><%= sort_link(@search, :name, t('admin.product.infor.name')) %></th>
        <th><%= sort_link(@search, :quantity_sold, t('admin.product.infor.quantity_sold')) %></th>
        <th><%= sort_link(@search, :price, t('admin.product.infor.price')) %></th>
        <th><%= sort_link(@search, :status, t('admin.product.infor.status')) %></th>
        <th><%= sort_link(@search, :category_id, t('admin.product.infor.category_name')) %></th>
        <th><%= sort_link(@p, :partner_id, t('admin.product.infor.partner_name')) %></th>
        <th><%= t('admin.product.infor.status_management') %></th>
        <th><%= t('admin.product.infor.control') %></th>
      </tr>
    </thead>
    <tbody id="product">
      <%= render @products %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @products, theme: 'twitter-bootstrap-4', remote: true %>
  </div>
</div>
