<%= provide :title, t('partner.title_pw') %>

<div class="custom-form">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="text-center"><%= t('partner.title_pw') %></h2><br/>
    <%= form_for current_partner, url: partners_path(current_partner) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.password_field :password_current, placeholder: t('partner.old_pw'), class: "form-control form-edit-custom"%>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: t('admin.partner.password_edit'), class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder: t('admin.partner.password_confirmation_edit'), class: "form-control" %>
      </div>
       <div class="form-group">
        <%= f.submit t('partner.save'), class: "btn btn-success form-control " %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to t('back'), partners_partner_path , class:'btn btn-secondary glyphicon glyphicon-arrow-left' %>
