<div>
  <h2><%= t('mailer.confirm.welcome')%> <%= @email %> <%= t('mailer.confirm.to')%></h2>

  <p><%= t('mailer.confirm.content')%></p>

  <h2><%= t('mailer.confirm.code')%><%= @resource.confirmation_token %></h2>
  <h4><%= t('mailer.confirm.thank_you')%></h4>
  <h4><%= t('mailer.confirm.team_qakha')%></h4>
</div>
