<p><%= t('mailer.email_change.hello') %><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('mailer.email_change.notice1') %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t('mailer.email_change.notice2') %><%= @resource.email %>.</p>
<% end %>
