<h1><%= t('mailer.email_change.hello') %><%= @email %>!</h1>

<% if @resource.try(:unconfirmed_email?) %>
  <p style="font-size: 25px"><%= t('mailer.email_change.notice1') %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p style="font-size: 25px"><%= t('mailer.email_change.notice2') %><%= @resource.email %>.</p>
<% end %>
