<p><%= t('mailer.reset_password.hello')%> <%= @resource.name %>!</p>

<p><%= t('mailer.reset_password.content1')%></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('mailer.reset_password.content2')%></p>
<p><%= t('mailer.reset_password.content3')%></p>
