<tr class="text-center">
  <td><%= address.id %></td>
  <td><%= address.name %></td>
  <td><%= address.latitude %></td>
  <td><%= address.longitude %></td>
  <td><%= address.user_name %></td>
  <td class="control-custom">
    <span><%= link_to "", admin_edit_users_addresses_path(id: address.id),
                          class: "btn btn-success glyphicon glyphicon-edit" %></span>
    <span><%= link_to "", admin_path(id: address.id),
                          data: { confirm: t('admin.control.confirm_delete') },
                          method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
  </td>
</tr>
