<tr class="text-center">
  <td><%= user.id %></td>
  <td><%= image_tag user.image.url.to_s, class: "img-product"%></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone_number %></td>
  <td><%= user.coins %></td>
  <td><%= user.role %></td>
  <td>
    <%= link_to t('admin.user.show_address'), admin_user_path(id: user.id),
                                              class: 'btn btn-info btn-md' %>
  </td>
  <td>
    <% if user.may_lock? %>
      <%= link_to t('admin.user.lock_user'), admin_user_status_path(id: user.id, role: :lock),
                                             method: :patch,
                                             remote: true,
                                             class: "btn btn-secondary glyphicon glyphicon-lock" %>
    <% elsif user.may_unlock? %>
      <%= link_to t('admin.user.unlock_user'), admin_user_status_path(id: user.id, role: :unlock),
                                               method: :patch,
                                               remote: true,
                                               class: "btn btn-secondary glyphicon glyphicon-ok" %>
    <% end %>
  </td>
  <td>
    <div class="action-btn">
      <span><%= link_to "", edit_admin_user_path(user),
                            class: "btn btn-success glyphicon glyphicon-edit" %></span>
      <span><%= link_to "", admin_user_path(user),
                            data: { confirm: t('admin.control.confirm_delete') },
                            method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
    </div>
  </td>
</tr>
