<%= form_for @voucher, url: yield(:url) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.text_field :code, placeholder: "Code" +" (*)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :discount, placeholder: "Discount" +" (*)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :condition, placeholder: "Condition" +" (*)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :expiry_date, "Expiry date: ", class:"delivery" %>
    <%= f.date_field(:expiry_date, {min: Date.today + 1}) %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.number_field :usage_limit, in: 1.0..20.0, placeholder: "Usage limit (*)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :partner_id %>
    <%= f.collection_select(:partner_id, @partners, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.submit yield(:button), class: "btn btn-info form-control" %>
  </div>
<% end %>
