<tr class="text-center">
  <td><%= voucher.id %></td>
  <td><%= voucher.code %></td>
  <td><%= voucher.discount %></td>
  <td><%= voucher.condition %></td>
  <td><%= voucher.distance_condition %></td>
  <td><%= voucher.expiry_date.strftime('%d-%m-%Y %H:%M:%S') %></td>
  <td><%= voucher.usage_limit %></td>
  <td><%= voucher.description %></td>
  <td><%= voucher.partner_name %></td>
  <td><%= voucher.status %></td>
  <td>
    <% if voucher.not_activated? %>
      <%= link_to t('admin.voucher.activate_voucher'), admin_voucher_status_path(id: voucher.id, status: :effective),
                                                       method: :patch,
                                                       remote: true,
                                                       class: "btn btn-secondary glyphicon glyphicon-lock" %>
    <% elsif voucher.effective? %>
      <%= link_to t('admin.voucher.disable_voucher'), admin_voucher_status_path(id: voucher.id, status: :void),
                                                      method: :patch,
                                                      remote: true,
                                                      class: "btn btn-secondary glyphicon glyphicon-ok" %>
    <% elsif voucher.void? %>
      <%= link_to t('admin.voucher.enable_voucher'), admin_voucher_status_path(id: voucher.id, status: :effective),
                                                     method: :patch,
                                                     remote: true,
                                                     class: "btn btn-secondary glyphicon glyphicon-ok" %>
    <% end %>
  </td>
  <td>
    <div class="action-btn">
      <span><%= link_to "", edit_admin_voucher_path(voucher),
                            class: "btn btn-success glyphicon glyphicon-edit" %></span>
      <span><%= link_to "", admin_voucher_path(voucher),
                            data: { confirm: t('admin.control.confirm_delete') },
                            method: :delete, class: "btn btn-danger glyphicon glyphicon-trash" %></span>
    </div>
  </td>
</tr>
