<%= provide :title, t('admin.voucher.edit_voucher') %>
<%= provide :button, t('admin.voucher.edit_voucher') %>
<%= provide :url, admin_voucher_path(@voucher)%>

<div class="custom-form">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><%= t('admin.voucher.edit_voucher') %></h1>
    <%= render "form" %>
  </div>
</div>
<%= link_to t('back'), admin_vouchers_path, class:'btn btn-secondary glyphicon glyphicon-arrow-left' %>
